{% extends "layout.html" %}

{% block title %}
    home
{% endblock title %}

{% block content %}
    <h1>home</h1>
    <a href="{% url 'create-post' %}">Create post</a>
    <div class="content">
        {% for post in posts %}
            <a href=""><small>@{{ post.section}}</small></a>
            <a href="{% url 'post-view' post.id %}"><h3>{{ post.head }}</h3></a>
            <p>{{ post.body }}</p>
            <hr>
        {% endfor %}
        <small>main content</small>
    </div>
{% endblock content %}